<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="shortcut icon" href="images/icon.png" />
    <title>TalentPot - Home</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Montserrat:ital,wght@1,100&display=swap" rel="stylesheet"/>
    <link rel="stylesheet" href="../static/styles/landing-page.css" />
    <link rel="stylesheet" href="../static/styles/header.css" />
    <link rel="stylesheet" href="../static/styles/main.css" />
    <link rel="stylesheet" href="../static/styles/features.css" />
  </head>
  <body>
    <header>
      <div class="head_logo"></div>
      <div class="navigation-bar">
	<nav>
	  <a href="http://www.calebcodes.tech">Home</a>
	  <a href="#features">Features</a>
	  <a href="">About</a>
	  <a class="btn btn--small exclude-dot" href="http://www.calebcodes.tech/test">Test</a>
	</nav>
      </div>
    </header>
    <div class="container">
      <div class="main-container">
	<div class="main_text">
	  <div class="headline">
	    <h1>Streamline your Employee Information Management</h1>
	  </div>
	  <div class="landing-text">
	    <h5>
	      TalentPot is a powerful platform designed to streamline and
	      simplify employee data management for HR teams. We offer a
	      comprehensive suite of tools to help you effortlessly manage
	      employee information, from onboarding to data updates and more
	    </h5>
	  </div>
	  <div><a class="btn btn-big" href="#">Sign in</a></div>
	</div>
      </div>
      <div class="features" id="features">
	<div class="featuresOdd">
	  <div class="odd1img"></div>
	  <div class="features-text">
	    <h5 class="l">
	      Add, update, and delete employee information with just a few
	      clicks!
	    </h5>
	  </div>
	</div>
	<div class="featuresEven">
	  <div class="evenimg"></div>
	  <div class="features-text">
	    <h5 class="r">
	      Manage employees across various departments in your organization
	    </h5>
	  </div>
	</div>
	<div class="featuresOdd">
	  <div class="odd2img"></div>
	  <div class="features-text">
	    <h5 class="l">
	      Effortlessly generate comprehensive reports on employee data and
	      analytics
	    </h5>
	  </div>
	</div>
      </div>
    </div>
    <footer>
      <p>Copyright © TalentPot All Rights Reserved</p>
    </footer>
  </body>
  </html>
