<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="shortcut icon" href="../static/images/icon.png" />
    <title>TalentPot - Home</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Montserrat:ital,wght@1,100&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../static/styles/landing-page.css" />
    <link rel="stylesheet" href="../static/styles/header.css" />
    <link rel="stylesheet" href="../static/styles/main.css" />
    <link rel="stylesheet" href="../static/styles/features.css" />
  </head>
  <body>
    <div class="container">
      <header>
        <div class="head_logo">
          <div class="head_logo2"></div>
        </div>
        <div class="navigation-bar">
          <a href="http://www.calebcodes.tech">Home</a>
          <a href="#features">Features</a>
          <a href="">About</a>
          <a
            class="btn btn--small exclude-dot"
            href="http://www.calebcodes.tech/test"
            >Test</a
          >
        </div>
      </header>

      <div class="main-container">
        <div class="main_text">
          <div class="headline">
            <!-- <div class="line1">Streamline your</div>
            <div class="line1">Employee Information</div>
            <div class="line1">Management</div> -->
            <div class="line1">
              Streamline your Employee Information Management
            </div>
            <div class="line2">
              Streamline your<br />Employee Information<br />
              Management
            </div>
          </div>
          <div class="landing-text">
            TalentPot is a powerful platform designed to streamline and simplify
            employee data management for HR teams. We offer a comprehensive
            suite of tools to help you effortlessly manage employee information,
            from onboarding to data updates and more
          </div>
          <div><a class="btn btn-big" href="#">Sign in</a></div>
          <div id="screen-width"></div>
          <div id="screen-height"></div>

          <script>
            function screen() {
              mywidth = window.innerWidth;
              myheight = window.innerHeight;
              document.getElementById("screen-width").innerHTML =
                "width:" + mywidth + "px";
              document.getElementById("screen-height").innerHTML =
                "height:" + myheight + "px";
            }
            window.onresize = screen;
            window.onload = screen;
          </script>
        </div>
      </div>
    </div>
    <div class="features" id="features">
      <div class="featuresOdd">
        <!-- <div class="odd1img"></div> -->
        <img src="../static/images/feature4bb.svg" class="oddimage" />
        <div class="features-text">
          <h5 class="l">
            Add, update, and delete employee information with just a few clicks!
          </h5>
        </div>
      </div>
      <div class="featuresEven">
        <!-- <div class="evenimg"></div> -->
        <img src="../static/images/feature3bb.svg" class="oddimage" />
        <div class="features-text">
          <h5 class="r">
            Manage employees across various departments in your organization
          </h5>
        </div>
      </div>
      <div class="featuresOdd">
        <!-- <div class="odd2img"></div> -->
        <img src="../static/images/feature2bb.svg" class="oddimage" />
        <div class="features-text">
          <h5 class="l">
            Effortlessly generate comprehensive reports on employee data and
            analytics
          </h5>
        </div>
      </div>
    </div>
    <footer>
      <p>Copyright © TalentPot. All Rights Reserved</p>
    </footer>
  </body>
</html>
